## Learn about the data in a csv file before importing into MySQL

We'll review the data in our csv file so we know which tables to create in our MySQL database.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
spotify_df = pd.read_csv('spotify-data/genres.csv', low_memory=False)

Now that we've loaded our data, we'll see what types of data we have in our dataset

In [21]:
spotify_df.describe()

spotify_df.dtypes

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Unnamed: 0
count,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,20780.000000
mean,0.639364,0.762516,5.370240,-6.465442,0.549462,0.136561,0.096160,0.283048,0.214079,0.357101,147.474056,250865.846685,3.972580,10483.970645
std,0.156617,0.183823,3.666145,2.941165,0.497553,0.126168,0.170827,0.370791,0.175576,0.233200,23.844623,102957.713571,0.268342,6052.359519
min,0.065100,0.000243,0.000000,-33.357000,0.000000,0.022700,0.000001,0.000000,0.010700,0.018700,57.967000,25600.000000,1.000000,0.000000
25%,0.524000,0.632000,1.000000,-8.161000,0.000000,0.049100,0.001730,0.000000,0.099600,0.161000,129.931000,179840.000000,4.000000,5255.750000
50%,0.646000,0.803000,6.000000,-6.234000,1.000000,0.075500,0.016400,0.005940,0.135000,0.322000,144.973000,224760.000000,4.000000,10479.500000
75%,0.766000,0.923000,9.000000,-4.513000,1.000000,0.193000,0.107000,0.722000,0.294000,0.522000,161.464000,301133.000000,4.000000,15709.250000
max,0.988000,1.000000,11.000000,3.148000,1.000000,0.946000,0.988000,0.989000,0.988000,0.988000,220.290000,913052.000000,5.000000,20999.000000

In [43]:
spotify_df.dtypes

danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
type                 object
id                   object
uri                  object
track_href           object
analysis_url         object
duration_ms           int64
time_signature        int64
genre                object
song_name            object
Unnamed: 0          float64
title                object
dtype: object

In [20]:
spotify_df.title

0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
                    ...
42300             Euphoric Hardstyle
42301    Greatest Hardstyle Playlist
42302         Best of Hardstyle 2020
42303             Euphoric Hardstyle
42304         Best of Hardstyle 2020
Name: title, Length: 42305, dtype: object

In [18]:
spotify_df.genre

0        Dark Trap
1        Dark Trap
2        Dark Trap
3        Dark Trap
4        Dark Trap
           ...
42300    hardstyle
42301    hardstyle
42302    hardstyle
42303    hardstyle
42304    hardstyle
Name: genre, Length: 42305, dtype: object

Since we're not sure what will happen if we try to import "Object" types into MySQL, we'll create tables that store those values as strings. 

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

## Getting data ready to create our "genres" table

We're first going to create a dictionary for this and check to make sure when we create this content we create the right data type

In [111]:
sql_table_vars= dict(spotify_df.dtypes)

final_keys = list(sql_table_vars.keys())

draft_values = []


for value in sql_table_vars.values():
    draft_values.append(str(value))

## change the value of objet to str since sql does not have this data type (or i don't know how to insert into it)

final_values = ['str' if item == 'object' else item for item in draft_values]

final_dict= dict(zip(final_keys, final_values))

for k in final_dict:
    
    print (k, final_dict[k])

danceability float64
energy float64
key int64
loudness float64
mode int64
speechiness float64
acousticness float64
instrumentalness float64
liveness float64
valence float64
tempo float64
type str
id str
uri str
track_href str
analysis_url str
duration_ms int64
time_signature int64
genre str
song_name str
Unnamed: 0 float64
title str