### Here we import pandas into our notebook and read the csv file with our spotify data.

### We also create our dataframe "spotify_data" and set low_memory to 'False' since this is a large dataset (n=42305)

In [245]:
import os
import sys
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector as msql
from mysql.connector import Error
import csv

spotify_data = pd.read_csv('spotify-data/genres.csv', low_memory=False)
df = spotify_data

### Here we connect to the MySQL Server and create a database ('spotifyDB'). 

#### First we create a dictionary with out MySQL Server user login

In [246]:
conn_params_dic = {
    "host"      : "localhost",
    "database"  : "spotifyDB",
    "user"      : "root",
    "password"  : "123"
}

## Then we connect to our MySQL Server

In [247]:
# Define a connect function for MySQL database server
def connect(conn_params_dic):
    conn = None
    try:
        print('Connecting to the MySQL...........')
        conn = msql.connect(**conn_params_dic)
        print("Connection successfully..................")
        
    except Error as err:
        print("Error while connecting to MySQL", err)      
        # set the connection to 'None' in case of error
        conn = None
    return conn

print (connect(conn_params_dic))

Connecting to the MySQL...........
Connection successfully..................
<mysql.connector.connection.MySQLConnection object at 0x17f9633d0>

### Now we use alchemy to connect

In [248]:
# Using alchemy method
connect_alchemy = "mysql+pymysql://%s:%s@%s/%s" % (
    conn_params_dic['user'],
    conn_params_dic['password'],
    conn_params_dic['host'],
    conn_params_dic['database']
)

def using_alchemy():
    try:
        print('Connecting to the MySQL...........')
        engine = create_engine(connect_alchemy)
        print("Connection successfully..................")
    except SQLAlchemyError as e:
        err=str(e.__dic__['orig'])
        print("Error while connecting to MySQL", err)      
        # set the connection to 'None' in case of error
        engine = None
    return engine

engine = print (using_alchemy())

print (engine)

Connecting to the MySQL...........
Connection successfully..................
Engine(mysql+pymysql://root:***@localhost/spotifyDB)
None

### Define function to create table

In [256]:
try:
    conn = msql.connect(host='localhost', 
                           database='spotifyDB', user='root', 
                           password='123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS iris;')
        print('Creating table....')
        
        cursor.execute("CREATE TABLE iris (sepal_length FLOAT(2,1) 
                        NOT NULL")
        print("iris table is created....")
        for i,row in irisData.iterrows():
            sql = "INSERT INTO irisdb.iris VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
             must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

SyntaxError: unterminated string literal (detected at line 13) (1190707706.py, line 13)

In [ ]:
def create_table(engine):
    try:
        # Dropping table iris if exists
        engine.execute("DROP TABLE IF EXISTS genres;")
        sql = '''CREATE TABLE genres
        (
            danceability DECIMAL (2,2) NOT NULL,
            loudness DECIMAL (2,2) NOT NULL,
            mode DECIMAL (2,2) NOT NULL,
            speechiness DECIMAL (2,2) NOT NULL,
            acousticness  DECIMAL (2,2) NOT NULL,
            instrumentalness DECIMAL (2,2) NOT NULL,
            liveness DECIMAL (2,2) NOT NULL,
            valence DECIMAL (2,2) NOT NULL,
            tempo DECIMAL (3,2) NOT NULL,
            duration_ms DECIMAL (7,6) NOT NULL, 
            time_signature DECIMAL (4) NOT NULL, 
            song_name CHAR (50) NOT NULL,                     
            genre  CHAR (44) NOT NULL,
            playlist CHAR (29) NOT NULL
        )'''
        # Creating a table
        engine.execute(sql);
        print("genres table is created successfully................")  
    except Error as err:
        print("Error while connecting to MySQL", err)    
        # set the connection to 'None' in case of error
        conn = None

print (create_table(engine))

# insert our data

In [ ]:
def using_csv_reader(engine, datafrm, table_name):
    
    try:
        conn = msql.connect(host='localhost', 
                               database='spoDB', user='root', 
                               password='sql@123')
        if conn.is_connected():
            cursor = conn.cursor()
            cursor.execute("select database();")
            record = cursor.fetchone()
            print("You're connected to database: ", record)
            cursor.execute('DROP TABLE IF EXISTS iris;')
            print('Creating table....')
            cursor.execute("CREATE TABLE iris (sepal_length FLOAT(2,1) 
                            NOT NULL, sepal_width FLOAT(2,1) NOT NULL,
                            petal_length FLOAT(2,1) NOT NULL, 
                            petal_width FLOAT(2,1),species CHAR(11)NOT 
                            NULL)")
            print("genre table is created....")
            for i,row in irisData.iterrows():
                sql = "INSERT INTO irisdb.iris VALUES (%s,%s,%s,%s,%s)"
                cursor.execute(sql, tuple(row))
                print("Record inserted")
                # the connection is not autocommitted by default, so we 
                 must commit to save our changes
                conn.commit()
    except Error as e:
        print("Error while connecting to MySQL", e)

print (using_csv_reader(engine, datafrm, table_name))

In [ ]:
# Execute query
sql = "SELECT * FROM iris"
cursor.execute(sql)

# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

### Here we get use the .dtypes attribute/function call to get a list of columns and datatypes in our genres.csv file

In [ ]:
spotify_data.dtypes

column_types= []

for item in spotify_data.dtypes:
    
    if item == 'object':
        item == 'obj,'
    
    else:
          continue

    data_types.append(str(item)) 

# we have to turn the item into a string to append it to our data_types list. 
#This is because appending series with the data type of each column
    
column_names = list (spotify_data)

spotify_dict= dict(zip(column_names,data_types))

for key, value in spotify_dict.items():
    print(key, ' : ', value)

print (len("Best New Techno - When We Dip"))

### Now we describe the data in our spotify_data dataframe so that we now how to create the variables to insert into our sql table

In [257]:
df.describe()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Unnamed: 0
count,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,42305.000000,20780.000000
mean,0.639364,0.762516,5.370240,-6.465442,0.549462,0.136561,0.096160,0.283048,0.214079,0.357101,147.474056,250865.846685,3.972580,10483.970645
std,0.156617,0.183823,3.666145,2.941165,0.497553,0.126168,0.170827,0.370791,0.175576,0.233200,23.844623,102957.713571,0.268342,6052.359519
min,0.065100,0.000243,0.000000,-33.357000,0.000000,0.022700,0.000001,0.000000,0.010700,0.018700,57.967000,25600.000000,1.000000,0.000000
25%,0.524000,0.632000,1.000000,-8.161000,0.000000,0.049100,0.001730,0.000000,0.099600,0.161000,129.931000,179840.000000,4.000000,5255.750000
50%,0.646000,0.803000,6.000000,-6.234000,1.000000,0.075500,0.016400,0.005940,0.135000,0.322000,144.973000,224760.000000,4.000000,10479.500000
75%,0.766000,0.923000,9.000000,-4.513000,1.000000,0.193000,0.107000,0.722000,0.294000,0.522000,161.464000,301133.000000,4.000000,15709.250000
max,0.988000,1.000000,11.000000,3.148000,1.000000,0.946000,0.988000,0.989000,0.988000,0.988000,220.290000,913052.000000,5.000000,20999.000000

### This only gives us the values for our quantiative data! How about our qualitative variables?

In [244]:

df['type'].value_counts()

audio_features    42305
Name: type, dtype: int64

In [243]:

print (HELkjsdalkjasfd)

NameError: name 'HELkjsdalkjasfd' is not defined