# Getting started

## Create a new database

	CREATE DATABASE spotify

## Show databases currently in the server 

	SHOW DATABASES;

Display the current databases available on the server using the SHOW DATABASES statement.

## Show tables in selected database

	SHOW TABLES;

## Show columns in selected table

	SHOW COLUMNS FROM table_name;

# Alter table data

The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.

The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

## Alter/Modify a column

To change the data type of a column in a table, use the following syntax:
 
    ALTER TABLE table_name
    MODIFY COLUMN column_name datatype; 

## Remove a column

    ALTER TABLE table_name
    DROP COLUMN column_name;

### MySQL data types

#### Numeric

- bigint
- smallint
- decimal
- int

#### Character

Stores text information. 

- char: Character data of fixed-size
- varchar: Character data types that are variable-size
    varchar(255)
- text

#### Boolean

#### Datetime

#### Data Structures

- JSON
- Arrays

### Create a table

The CREATE TABLE statement is used to create a new table in a database.


    CREATE TABLE table_name (
        column1 datatype,
        column2 datatype,
        column3 datatype,
    ....
    );


    CREATE TABLE Persons (
        Personid int NOT NULL AUTO_INCREMENT,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255),
        Age int,
        PRIMARY KEY (Personid)
    );

### Use a database

Switch to the database using the USE statement:


    USE spotify;

### Show tables

Execute the following command to get a list of all tables and views in the current database

    SHOW TABLES;

## Remove a table

The DROP TABLE statement is used to drop an existing table in a database.

    DROP TABLE table_name;

# Partitioning in MySQL

Partitioning is a way in which a database (MySQL in this case) splits its actual data down into separate tables, but still get treated as a single table by the SQL layer.

# Functions in MySQL

MySQL can do much more than just store and retrieve data. We can also perform manipulations on the data before retrieving or saving it. 

Thatâ€™s where MySQL Functions come in. Functions are simply pieces of code that perform some operations and then return a result. Some functions accept parameters while other functions do not accept parameters.

- Strings functions: operate on string data types
- Numeric functions: operate on numeric data types
- Date functions: operate on date data types
- Aggregate functions: operate on all of the above data types and produce summarized result sets.
- Analytic functions

## Analytic functions

Analytic functions allow you to perform calculations on ordered sets of data.

### LEAD and LAG functions

Allow you to refer to values in other rows of the result set.

#### LAG function

# Subqueries

Subquery is a SELECT coded within another SQL statement. Can be introduced using WHERE, HAVING, FROM or SELECT 

 
## Subqueries

	SELECT invoice_number, invoice_date, invoice_total
	FROM invoices
	WHERE invoice_total> 
		(SELECT AVG(invoice_total) 
		FROM invoices)
	ORDER BY invoice_total

### When to use subqueries 

Most subqueries can be restated as joins and most joins can be restated as subqueries

### Advantages of joins:

-SELECT clause of a join can include columns from both tables

-A join tends to be more intuitive when it uses an existing relationship between the two tables, such as a primary key to a foreign key relationship

### Advantages of subqueries

- You can use a subquery to pas an aggregate value to the main query

- A subquery tends to be more intuitive when it uses an ad hoc relationship between the two tables

- Long, complex queries can sometimes be easier to code using subqueries